---
import { getCollection } from "astro:content";
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";

const projects = await getCollection("projects");
---

<Layout>
  {
    projects.map((project) => (
      <Card>
        <h2>
          <a href={`/projects/${project.slug}/`}>{project.data.title}</a>
        </h2>
        <p style="color: var(--secondary-text);">{project.data.description}</p>
        {project.data.tags && (
          <div class="tags">
            {project.data.tags.map((tag) => (
              <span>{tag}</span>
            ))}
          </div>
        )}
      </Card>
    ))
  }
</Layout>
