{% extends "projects.html" %}

{% block blog %}
{% block index %}
{% endblock index %}

{% set section = get_section(path="blog/_index.md") %}
<!-- Blog Sayfası -->
<section id="blog-content" class="page-content hidden">
  <div class="blog-grid">
    {% for page in section.pages %}
    <!-- Blog Post 3 -->
    <div class="bento-item blog-card">
      <img src="https://placehold.co/600x400/4682b4/ffffff?text={{ page.title }}" alt="Blog Post 3"
        class="blog-card-image">
      <h2><a href="{{ page.permalink | safe }}">{{ page.title }}</a></h2>
      <p style="color: var(--secondary-text); margin-top: 0;">
        {% if page.description %}{{ page.description }}{% else %}{% endif %}
      </p>
        <a href="{{ page.permalink | safe }}" class="read-more">Read More &rarr;</a>
    </div>
    {% endfor %}
  </div>
</section>

{% endblock blog %}
